body,
html {
  text-align: center;
  height: 100%;
  color: #094754;
  background-color: #bff2e2;
  overflow: hidden;
}
h1 {
  margin: 0;
}
select,
input {
  width: 60px;
}
a {
  color: white;
  text-decoration: none;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

/* ------ HEADER ------ */

header {
  color: white;
  background-color: #00d895;
  text-align: left;
  padding: 20px;
  font-size: 25px;
}
/* ------ CONTENT ------ */

main {
  padding-bottom: 2.5rem;
}
table {
  margin-left: auto;
  margin-right: auto;
}
.description {
  text-align: let;
}

.horizontal-center {
  /* top: 50%; */
  font-size: 25px;
}

footer {
  background-color: #00d895;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
